/* Estilos para a página Home */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  
  .home-container h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .home-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-nav ul {
    list-style: none;
    padding: 0;
  }
  
  .home-nav li {
    margin: 10px 0;
  }
  
  .home-nav a {
    text-decoration: none;
    color: #4caf50;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #4caf50;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .home-nav a:hover {
    background-color: #ce3310;
    color: #fff;
  }
  